<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Cooperativa de Trabajo Fiqus LTDA.">
    <title>MoviePy - Video creation</title>
</head>
<body >
    <div class="row">
        <div class="col-sm-3">
            <a href="http://localhost:8000/create_video"><button>Create moving text video</button></a>
            <a href="http://localhost:8000/create_simple_video"><button>Create graphics & text video</button></a>
            <a href="http://localhost:8000/create_photo_quality_video"><button>Create photo quality video</button></a>
            <a href="http://localhost:8000/create_overall_quality_video"><button>Create overall quality video</button></a>
        </div>
    </div>

</body>
</html>
